<template name="nav">
  <nav>
    <div class="">
      <div class="nav-wrapper">
        <!-- <a href="#" class="brand-logo">
          <img alt="UserAccounts" width="25" height="25" src="/img/logo.png">
        </a> -->
        <ul id="nav-mobile" class="right side-nav">
          <li class="{{isActiveRoute regex='post'}}"><a href="/posts">Posts</a></li>
          <li class="{{isActiveRoute regex='addPost'}}"><a href="/add-posts">Add Post</a></li>
          <li>{{> atNavButton }}</li>
        </ul>
        <a class="button-collapse show-on-large" href="#" data-activates="nav-mobile"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>
</template>
